<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App</title>
</head>
<body>
  <div>
  <img src= "<%= data.image_url %>"/>
  <h4> <%= data.title %> </h4>
  <h6> <%= data.author %> </h6>
  <div>
  <p> <%= data.description %> </p> 
</div>
  <p> <%= data.isbn %> </p>
</div>
<a href="/">Go Home</a>
</body>
</html>
  