<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book List</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>

    <main>
      <div class="spade">
      <% data.forEach( val => { %>
      <img class="book-images" src="<%= val.image_url %>" />
      <h2><%= val.title %></h2>
      <h4><%= val.author %></h4>
      <p><%= val.description %></p>
      <p>ISBN: <%= val.isbn %> </p>

      <form method="POST" action="/books">
        <input type="hidden" name="title" value="<%= val.title %>">
        <input type="hidden" name="author" value="<%= val.author %>">
        <input type="hidden" name="description" value="<%= val.description %>">
        <input type="hidden" name="image_url" value="<%= val.image_url %>">
        <input type="hidden" name="isbn" value="<%= val.isbn %>">
        <input type="submit"  value="Add to Favorites">
      </form>
      <% }) %>
    </div>
    </main>
  </body>
</html>
