<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <div>
    <h1>Here are your favorite Books!</h1>
  </div>
  <div>
    <h4>Total number of Books: <%= bookCount %>
    </h4>
  </div>

  <div class="book-display">
    <% data.forEach(data=> { %>
      <img src="<%= data.image_url %>" />
      <h4>
        <%= data.title %>
      </h4>
      <h6>
        <%= data.author %>
      </h6>
      <button><a href="/books/<%= data.id %>">View Details</a></button>
      <div class="spacer"></div>
      <% }) %>
  </div>

</body>

</html>